---
// https://github.com/mhyfritz/astro-landing-page
// import { ImageOptions, generateImage, generatePlaceholder } from 'astro-eleventy-img';

import Header from './Header.astro';
import Logo from './Logo';
import Menu from './Menu.astro';
import Starfield from './Starfield.astro';

// astronaut ->
// const widths = [475, 950];
// const sizes = '(min-width: 768px) 950px, 475px';
// const formats: ImageOptions['formats'] = ['webp', 'avif', 'png'];
// const { webp, avif, png } = await generateImage('src/assets/astronaut-cut.png', {
//   widths,
//   formats,
//   outputDir: 'public/assets/images/astronaut',
//   urlPath: '/assets/images/astronaut',
// });

// // TODO ! sign
// const avifSrcset = avif!.map(({ srcset }) => srcset).join();
// const webpSrcset = webp!.map(({ srcset }) => srcset).join();
// const pngSrcset = png!.map(({ srcset }) => srcset).join();
// const placeholder = await generatePlaceholder('src/assets/astronaut-cut.png', {
//   outputDir: 'public/assets/images/placeholders',
// });
// astronaut <-

// from bottom of this file
// <script is:inline>
//   (() => {
//     const picture = document.getElementById('astronaut-picture');

//     if (picture) {
//       picture.addEventListener('click', () => {
//         window.open('https://www.youtube.com/watch?v=KaOC9danxNo', '_blank'); /* .focus(); */
//       });
//     }
//   })();
// </script>
---

<div class="h-full">
  <Starfield />
  <div class="fixed flex h-full w-full items-center justify-center">
    <!-- <picture
      class="aspect-square max-w-3xl max-h-[80vh] animate-float16 md:animate-float32 motion-reduce:animate-none"
      id="astronaut-picture"
    >
      <source type="image/avif" srcset={avifSrcset} sizes={sizes} />
      <source type="image/webp" srcset={webpSrcset} sizes={sizes} />
      <source type="image/png" srcset={pngSrcset} sizes={sizes} />
      <img
        class="max-w-full max-h-full 3xl:w-auto 3xl:h-auto"
        src={placeholder.dataURI}
        width={450}
        height={450}
        alt="A floating astronaut in a space suit"
      />
    </picture> -->
    <Header
      class="absolute animate-float8 md:animate-float8long motion-reduce:animate-none inset-8 bottom-auto md:top-auto md:bottom-8"
    >
      <Logo class="logo" url="/" />
      <Menu class="menu" />
    </Header>
  </div>
</div>
